<% content_for :title do %>
会社概要｜Riitt株式会社｜コンテンツクリエイター
<% end %>
<% content_for :description do %>
Riitt株式会社では、自由なスキルを未来へつなげ、思いつきをカタチに、デジタルスキルを学び続ける姿勢で、Web製作動画撮影・編集、プログラム教育を実践します。
<% end %>
<div class="C_back-page">
  <div class='C_back-deco company'>
    <div class='tab_after'>
      <div class='deco_0 deco-visit dark' id='JS_move_target_0' data-speed='6' data-visit='true'></div>
      <div class='deco_1 deco-visit svg' id='JS_move_target_1' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_2 deco-visit svg' id='JS_move_target_2' data-speed='7' data-visit='true'>
        <%= embedded_svg 'deco_infinity-ver.svg'%>
      </div>
      <div class='deco_3 deco-visit deco-visit svg' id='JS_move_target_3' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_4 deco-visit thin' id='JS_move_target_4' data-speed='6' data-visit='true'></div>
      <div class='deco_5 deco-visit thin' id='JS_move_target_5' data-speed='8' data-visit='true'></div>
      <div class='deco_6 deco-visit dark' id='JS_move_target_6' data-speed='5' data-visit='true' ></div>
      <div class='deco_7 deco-visit dark' id='JS_move_target_7' data-speed='5' data-visit='true' ></div>
      <div class='deco_8 deco-visit dark' id='JS_move_target_8' data-speed='8' data-visit='true' ></div>
      <div class='deco_9 deco-visit thin' id='JS_move_target_9' data-speed='4' data-visit='true'></div>
      <div class='deco_10 deco-visit svg' id='JS_move_target_10' data-speed='3'>
        <%= embedded_svg 'deco_infinity-hor.svg'%>
      </div>
      <div class='deco_11 deco-visit dark' id='JS_move_target_11' data-speed='4' data-visit='true'></div>
      <div class='deco_12 deco-visit dark' id='JS_move_target_12' data-speed='4' data-visit='true'></div>
      <div class='deco_13 deco-visit svg' id='JS_move_target_13' data-speed='3' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_14 deco-visit thin' id='JS_move_target_14' data-speed='8' data-visit='true'></div>
      <div class='deco_15 deco-visit thin' id='JS_move_target_15' data-speed='6' data-visit='true'></div>
      <div class='deco_16 deco-visit thin' id='JS_move_target_16' data-speed='3' data-visit='true'></div>
      <div class='deco_17 dark' id='JS_move_target_17' data-speed='3' ></div>
      <div class='deco_18 dark' id='JS_move_target_18' data-speed='3' ></div>
      <div class='deco_19 dark' id='JS_move_target_19' data-speed='7' ></div>
      <div class='deco_20 dark' id='JS_move_target_20' data-speed='8' ></div>
      <div class='deco_21 dark' id='JS_move_target_21' data-speed='3' ></div>
      <div class='deco_22 thin' id='JS_move_target_22' data-speed='6' ></div>
      <div class='deco_23 thin' id='JS_move_target_23' data-speed='8' ></div>
      <div class='deco_24 thin' id='JS_move_target_24' data-speed='6' ></div>
      <div class='deco_25 thin' id='JS_move_target_25' data-speed='5' ></div>
      <div class='deco_26 thin' id='JS_move_target_26' data-speed='3' ></div>
      <div class='deco_27 thin' id='JS_move_target_27' data-speed='8' ></div>
      <div class='deco_28 dark' id='JS_move_target_28' data-speed='7' ></div>
      <div class='deco_29 thin' id='JS_move_target_29' data-speed='8' ></div>
      <div class='deco_30 dark' id='JS_move_target_30' data-speed='4' ></div>
      <div class='deco_31 thin' id='JS_move_target_31' data-speed='3' ></div>
      <div class='deco_32 thin' id='JS_move_target_32' data-speed='7' ></div>
      <div class='deco_33 thin' id='JS_move_target_33' data-speed='7' ></div>
    </div>
    <div class='sp_only'>
      <div class='deco_34 thin' id='JS_move_target_34' data-speed='6' ></div>
      <div class='deco_35 deco-visit svg' id='JS_move_target_35' data-speed='7' data-visit='true'>
        <%= embedded_svg 'deco_infinity-ver.svg'%>
      </div>
      <div class='deco_36 deco-visit deco-visit svg' id='JS_move_target_36' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_37 deco-visit dark' id='JS_move_target_37' data-speed='5' data-visit='true' ></div>
      <div class='deco_38 deco-visit thin' id='JS_move_target_38' data-speed='4' data-visit='true'></div>
      <div class='deco_39 deco-visit deco-visit svg' id='JS_move_target_39' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_40 deco-visit thin' id='JS_move_target_40' data-speed='8' data-visit='true'></div>
      <div class='deco_41 deco-visit thin' id='JS_move_target_41' data-speed='8' data-visit='true'></div>
      <div class='deco_42 deco-visit thin' id='JS_move_target_42' data-speed='4' data-visit='true'></div>
      <div class='deco_43 deco-visit dark' id='JS_move_target_43' data-speed='6' data-visit='true'></div>
      <div class='deco_44 deco-visit thin' id='JS_move_target_44' data-speed='9' data-visit='true'></div>
      <div class='deco_45 deco-visit dark' id='JS_move_target_45' data-speed='9' data-visit='true'></div>
      <div class='deco_46 deco-visit thin' id='JS_move_target_46' data-speed='5' data-visit='true'></div>
      <div class='deco_47 deco-visit thin' id='JS_move_target_47' data-speed='8' data-visit='true'></div>
      <div class='deco_48 deco-visit thin' id='JS_move_target_48' data-speed='8' data-visit='true'></div>
      <div class='deco_49 deco-visit dark' id='JS_move_target_49' data-speed='4' data-visit='true'></div>
      <div class='deco_50 deco-visit dark' id='JS_move_target_50' data-speed='2' data-visit='true'></div>
      <div class='deco_51 deco-visit thin' id='JS_move_target_51' data-speed='8' data-visit='true'></div>
      <div class='deco_52 deco-visit thin' id='JS_move_target_52' data-speed='9' data-visit='true'></div>
      <div class='deco_53 deco-visit dark' id='JS_move_target_53' data-speed='8' data-visit='true'></div>
      <div class='deco_54 deco-visit dark' id='JS_move_target_54' data-speed='8' data-visit='true'></div>
      <div class='deco_55 deco-visit thin' id='JS_move_target_55' data-speed='5' data-visit='true'></div>
      <div class='deco_56 deco-visit dark' id='JS_move_target_56' data-speed='7' data-visit='true'></div>
      <div class='deco_57 deco-visit thin' id='JS_move_target_57' data-speed='3' data-visit='true'></div>
      <div class='deco_58 deco-visit thin' id='JS_move_target_58' data-speed='2' data-visit='true'></div>
      <div class='deco_59 deco-visit thin' id='JS_move_target_59' data-speed='6' data-visit='true'></div>
      <div class='deco_60 deco-visit dark' id='JS_move_target_60' data-speed='7' data-visit='true'></div>
      <div class='deco_61 deco-visit dark' id='JS_move_target_61' data-speed='7' data-visit='true'></div>
    </div>
  </div>
  <%= render partial: 'shared/header' %>
    <div class='P_company'>
      <span class='back-ground'></span>
      <div class='wrapper'>
        <h1 class='C_page-header'>COMPANY</h1>
        <div class='philosophies'>
          <div class='philosophy vision'>
            <div class='title A_hide'>
              <h3 class='hide-inner' id='JS_visit_0'>VISION</h3>
            </div>
            <div class='statement'>
              <div class='C_common__title-line'>
                <div class='line-inner  company'>
                  <span class='line' id='JS_visit_1'></span>
                </div>
                <div class='A_hide'>
                  <h2 class='hide-inner' id='JS_visit_2'>
                    私たちの道
                  </h2>
                </div>
              </div>
              <div class='copy A_hide'>
                <p class='hide-inner' id='JS_visit_3'>
                  自由なスキルを<br class='sp_only'><span class='tab_after'>、</span>未来へつなげる。
                </p>
              </div>
              <div class='text A_hide'>
                <p class='hide-inner' id='JS_visit_4'>
                  一人ひとりが自由に働くスキルを、子どもや社会に広げていき、自由でクリエイティブな未来につなげていきます。
                </p>
              </div>
            </div>
            <div class='img A_hide'>
              <div class='hide-inner' id='JS_visit_5'>
                <%= embedded_svg 'icon_vision.svg', alt: 'vision'%>
              </div>
            </div>
          </div>
        </div>
        <div class='philosophies'>
          <div class='philosophy mission'>
            <div class='title A_hide'>
              <h3 class='hide-inner' id='JS_scroll_show_0' data-showHeight='true'>MISSION</h3>
            </div>
            <div class='statement'>
              <div class='C_common__title-line'>
                <div class='line-inner  company'>
                  <span class='line' id='JS_scroll_show_1' data-showHeight='true'></span>
                </div>
                <div class='A_hide'>
                  <h2 class='hide-inner' id='JS_scroll_show_2' data-showHeight='true'>
                    私たちの使命
                  </h2>
                </div>
              </div>
              <div class='copy A_hide'>
                <p class='hide-inner' id='JS_scroll_show_3' data-showHeight='true'>
                  思いつきをカタチに。
                </p>
              </div>
              <div class='text A_hide'>
                <p class='hide-inner' id='JS_scroll_show_4' data-showHeight='true'>
                  思いつきやアイデアをカタチにする。何気ない日常や特別な日、会社や個人、仕事やプライベートのカタチのないアイデンティティをカタチにしていきます。
                </p>
              </div>
            </div>
            <div class='img A_hide'>
              <div class='hide-inner' id='JS_scroll_show_5' data-showHeight='true'>
                <%= embedded_svg 'icon_mission.svg', alt: 'mission'%>
              </div>
            </div>
          </div>
        </div>
        <div class='philosophies'>
          <div class='philosophy solution'>
            <div class='title A_hide'>
              <h3 class='hide-inner' id='JS_scroll_show_6' data-showHeight='true'>SOLUTION</h3>
            </div>
            <div class='statement'>
              <div class='C_common__title-line'>
                <div class='line-inner  company'>
                  <span class='line' id='JS_scroll_show_7' data-showHeight='true'></span>
                </div>
                <div class='A_hide'>
                  <h2 class='hide-inner' id='JS_scroll_show_8' data-showHeight='true'>
                    私たちは歩みを止めない
                  </h2>
                </div>
              </div>
              <div class='copy A_hide'>
                <p class='hide-inner' id='JS_scroll_show_9' data-showHeight='true'>
                  デジタルスキルを<br class='sp_only'>学び続ける。
                </p>
              </div>
              <div class='text A_hide'>
                <p class='hide-inner' id='JS_scroll_show_10' data-showHeight='true'>
                  デジタルスキルを学ぶことで、広がり続ける可能性を模索し続けます。常に新しい技術や革新を謙虚に学び、新たな可能性を広げていきます。
                </p>
              </div>
            </div>
            <div class='img A_hide'>
              <div class='hide-inner' id='JS_scroll_show_11' data-showHeight='true'>
                <%= embedded_svg 'icon_solution.svg', alt: 'solution'%>
              </div>
            </div>
          </div>
        </div>
        <div class='profile'>
          <div class='C_common__title-line'>
            <div class='line-inner  company'>
              <span class='line' id='JS_scroll_show_12' data-showHeight='true'></span>
            </div>
            <div class='A_hide'>
              <h2 class='hide-inner' id='JS_scroll_show_13' data-showHeight='true'>
                COMPANY PROFILE
              </h2>
            </div>
          </div>
          <ul class='body'>
            <div class='A_hide'>
              <li class='hide-inner' id='JS_scroll_show_14' data-showHeight='true'>
                <dl class='item first'>
                  <dt class='title'>会社名</dt>
                  <dt class='content'>
                    Riitt
                    <br>
                    〒597-0081<br class='sp_only'><span class='tab_after'>　</span>大阪府　貝塚市　麻生中1024-9
                  </dt>
                </dl>
              </li>
            </div>
            <div class='A_hide'>
              <li class='hide-inner' id='JS_scroll_show_15' data-showHeight='true'>
                <dl class='item'>
                  <dt class='title'>役員</dt>
                  <dt class='content'>
                    代表　秦　真宣
                  </dt>
                </dl>
              </li>
            </div>
            <div class='A_hide'>
              <li class='hide-inner' id='JS_scroll_show_16' data-showHeight='true'>
                <dl class='item'>
                  <dt class='title'>設立日</dt>
                  <dt class='content'>
                    2021年5月1日
                  </dt>
                </dl>
              </li>
            </div>
            <div class='A_hide'>
              <li class='hide-inner' id='JS_scroll_show_17' data-showHeight='true'>
                <dl class='item'>
                  <dt class='title'>事業内容</dt>
                  <dt class='content'>
                    Web製作請負
                    <br>
                    動画撮影製作請負
                    <br>
                    名刺・ロゴ・ポスター製作請負
                    <br>
                    プログラミング教育
                  </dt>
                </dl>
              </li>
            </div>
            <div class='A_hide'>
              <li class='hide-inner' id='JS_scroll_show_18' data-showHeight='true'>
                <dl class='item'>
                  <dt class='title'>関連法人</dt>
                  <dt class='content'>
                    社会福祉法人　七彩学舎
                    <br>
                    宗教法人　道教寺
                  </dt>
                </dl>
              </li>
            </div>
          </ul>
        </div>
        <div class='member-body'>
          <div class='C_common__title-line'>
            <div class='line-inner  company'>
              <span class='line' id='JS_scroll_show_19' data-showHeight='true'></span>
            </div>
            <div class='A_hide'>
              <h2 class='hide-inner' id='JS_scroll_show_20' data-showHeight='true'>
                TEAM MEMBER
              </h2>
            </div>
          </div>
          <ul class='members'>
            <div class='A_hide'>
              <li class='member hide-inner' id='JS_scroll_show_21' data-showHeight='true'>
                <div class='img'>
                  <picture>
                    <source data-srcset='<%= image_url('member_0.webp') %>' type="image/webp" class="C_image top"/>
                    <img src='<%= image_url('member_0_dummy.webp') %>' data-src='<%= image_url('member_0_alt.jpg') %>' alt="大山 邑茄" class="C_image top lazyload"/>
                  </picture>
                </div>
                <div class='text'>
                  <p class='charge'>デザイン/動画編集 担当</p>
                  <p class='name'>すぎはら　ゆうか</p>
                </div>
              </li>
            </div>
            <div class='A_hide'>
              <li class='member hide-inner' id='JS_scroll_show_22' data-showHeight='true'>
                <div class='img'>
                  <picture>
                    <source data-srcset='<%= image_url('member_1.webp') %>' type="image/webp" class="C_image top"/>
                    <img src='<%= image_url('member_1_dummy.webp') %>' data-src='<%= image_url('member_1_alt.jpg') %>' alt="秦　真宣" class="C_image top lazyload"/>
                  </picture>
                </div>
                <div class='text'>
                  <p class='charge'>Web/Program 担当 兼 代表</p>
                  <p class='name'>秦　真宣</p>
                </div>
              </li>
            </div>
            <div class='A_hide'>
              <li class='member hide-inner' id='JS_scroll_show_23' data-showHeight='true'>
                <div class='img'>
                  <picture>
                    <source data-srcset='<%= image_url('member_2.webp') %>' type="image/webp" class="C_image top"/>
                    <img src='<%= image_url('member_2_dummy.webp') %>' data-src='<%= image_url('member_2_alt.jpg') %>' alt="大山 邑茄" class="C_image top lazyload"/>
                  </picture>
                </div>
                <div class='text'>
                  <p class='charge'>動画撮影/編集 担当</p>
                  <p class='name'>好本　篤実</p>
                </div>
              </li>
            </div>
          </ul>
        </div>
        <div class='access'>
          <div class='C_common__title-line'>
            <div class='line-inner  company'>
              <span class='line' id='JS_scroll_show_24' data-showHeight='true'></span>
            </div>
            <div class='A_hide'>
              <h2 class='hide-inner' id='JS_scroll_show_25' data-showHeight='true'>
                ACCESS
              </h2>
            </div>
          </div>
          <div class='body'>
            <div class='A_opacity-hide' id='JS_scroll_show_26' data-showHeight='true'>
              <div class='google-map'>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3290.681331262441!2d135.36996931522518!3d34.43484878050352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000c97946490bb1%3A0x6ba779166eebef92!2zSVTjgrXjg7zjg5PjgrkgUmlpdHQ!5e0!3m2!1sja!2sjp!4v1623802534290!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </div>
            <div class='A_opacity-hide' id='JS_scroll_show_27' data-showHeight='true'>
              <div class='detail'>
                <div class='left'>
                  <div class="logo">
                    <%= embedded_svg 'logo.svg', alt: 'riitt'%>
                    <%=  link_to  '', root_path , target: :_blank, class: 'L_link' %>
                  </div>
                    <button class='C_common__button'>
                      <div class='A_mask btn-text'>
                        GOOGLE MAP
                        <span>
                          <%= embedded_svg 'arrow-right.svg', class: 'arrow-left A_text-mask' %>
                        </span>
                        <%=  link_to  '', 'https://www.google.co.jp/maps/place/IT%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9+Riitt/@34.4348488,135.3699693,17z/data=!3m1!4b1!4m5!3m4!1s0x6000c97946490bb1:0x6ba779166eebef92!8m2!3d34.4348623!4d135.3721736?hl=ja' '' , target: :_blank, class: 'L_link' %>
                      </div>
                    </button>
                </div>
                <div class='right'>
                  <p class='address'>
                    〒597-0081<br class='sp_only'><span class='tab_after'>　</span>大阪府　貝塚市　麻生中1024-9
                    <br>
                    <br>
                    JR東貝塚駅から徒歩5分
                    <br>
                    <br>
                    水間線石才駅から徒歩5分
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%= render partial: 'shared/footer' %>
</div>
