<%= render partial: 'shared/header', locals:{ header: @header}%>
<div class="L_top-space">
  <div class="L_right-space">
    <div class="P_index__kv">
      <picture>
        <source data-srcset="<%= image_path('banner/top.webp') %>" type="image/webp" class="C_image"/>
        <img src="<%= image_path('banner/top_dummy.png') %>" data-src="<%= image_path('banner/top_alt.png') %>" alt="RiittBanner" class="C_image lazyload"/>
      </picture>
    </div>
  </div>
</div>
<section class="L_side-space">
  <div class="L_top-space">
    <div class="L_flex-right">
      <div class="P_index__products-box">
        <div class="P_index__products-title-box">
          <h1 class="P_index__products-title">PRODUCT</h1>
          <%= embedded_svg "arrow-down.svg", class: "P_index__products-arrow" %>
        </div>
        <div class="P_index__products">
          <div class="P_index__product-box">
            <div class="P_index__product square">
              <picture>
                <source data-srcset="<%= image_path('products/parti.webp') %>" type="image/webp" class="C_image"/>
                <img src="<%= image_path('products/parti_dummy.jpg') %>" data-src="<%= image_path('products/parti_alt.jpg') %>" alt="パルティ" class="C_image lazyload"/>
              </picture>
            </div>
            <h2 class="P_index__product-title">
              パルティ
            </h2>
          </div>
          <div class="P_index__product-box">
            <div class="P_index__product circle">
              <picture>
                <source data-srcset="<%= image_path('products/nanairo.webp') %>" type="image/webp" class="C_image"/>
                <img src="<%= image_path('products/nanairo_dummy.jpg') %>" data-src="<%= image_path('products/nanairo_alt.jpg') %>" alt="七彩学舎" class="C_image lazyload"/>
              </picture>
            </div>
            <h2 class="P_index__product-title">
              七彩学舎
            </h2>
          </div>
          <div class="P_index__product-box">
            <div class="P_index__product square">
              <picture>
                <source data-srcset="<%= image_path('products/dokyoji.webp') %>" type="image/webp" class="C_image"/>
                <img src="<%= image_path('products/dokyoji_dummy.jpg') %>" data-src="<%= image_path('products/dokyoji_alt.jpg') %>" alt="道教寺" class="C_image lazyload"/>
              </picture>
            </div>
            <h2 class="P_index__product-title">
              道教寺
            </h2>
          </div>
          <div class="P_index__product-box">
            <div class="P_index__product circle">
              <picture>
                <source data-srcset="<%= image_path('products/piani.webp') %>" type="image/webp" class="C_image"/>
                <img src="<%= image_path('products/piani_dummy.jpg') %>" data-src="<%= image_path('products/piani_alt.jpg') %>" alt="ピアニィ" class="C_image lazyload"/>
              </picture>
            </div>
            <h2 class="P_index__product-title">
              ピアニィ
            </h2>
          </div>
        </div>
        <div class="P_index__products-show-box">
          <p>Show More</p>
          <%= embedded_svg "circle.svg", class: "P_index__products__show-icon" %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="P_index__service">
  <%= embedded_svg "service_back.svg", class: "P_index__service-back" %>
  <ul class="P_index__service__title-container">
    <li class="P_index__service__title-box">
      <%= embedded_svg "circle.svg", class: "P_index__service__circle" %>
      <h3 class="P_index__service__title">WEB製作</h3>
    </li>
    <li class="P_index__service__title-box">
      <%= embedded_svg "circle.svg", class: "P_index__service__circle" %>
      <h3 class="P_index__service__title">メディア製作</h3>
    </li>
    <li class="P_index__service__title-box">
      <%= embedded_svg "circle.svg", class: "P_index__service__circle" %>
      <h3 class="P_index__service__title">コンテンツ製作</h3>
    </li>
    <li class="P_index__service__title-box">
      <%= embedded_svg "circle.svg", class: "P_index__service__circle" %>
      <h3 class="P_index__service__title">システム開発</h3>
    </li>
  </ul>
</section>
<section class="L_top-space">
  <div class="L_side-space">
    <div class="C_rhombus-text white">
      <div class="C_rhombus-text__circle white">
        <picture>
          <source data-srcset="<%= image_path('products/nanairo.webp') %>" type="image/webp" class="C_image"/>
          <img src="<%= image_path('products/nanairo_dummy.jpg') %>" data-src="<%= image_path('products/nanairo_alt.jpg') %>" alt="七彩学舎" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="C_rhombus-text__text-container white">
        <div class="C_rhombus-text__text-box white">
          <h2>お寺×Program</h2>
          <p>お寺の本堂を借りて</p>
          <p>program教室を</p>
          <p>行っています</p>
        </div>
      </div>
    </div>
    <div class="C_rhombus-text black">
      <div class="C_rhombus-text__circle black">
        <picture>
          <source data-srcset="<%= image_path('products/nanairo.webp') %>" type="image/webp" class="C_image"/>
          <img src="<%= image_path('products/nanairo_dummy.jpg') %>" data-src="<%= image_path('products/nanairo_alt.jpg') %>" alt="七彩学舎" class="C_image lazyload"/>
        </picture>
      </div>
      <div class="C_rhombus-text__text-container black">
        <div class="C_rhombus-text__text-box black">
          <h2>お寺×Program</h2>
          <p>お寺の本堂を借りて</p>
          <p>program教室を</p>
          <p>行っています</p>
        </div>
      </div>
    </div>
  </div>
  <div class="C_rhombus-text__dummy"></div>
</section>
<section class="L_top-space">
  <%= embedded_svg "about_back.svg", class: "P_index__about__back" %>
</section>
