<div class="C_back-page">
  <div class='C_back-deco'>
    <div class='deco_0 deco-visit dark' id='JS_move_target_0' data-speed='4' data-visit='true'></div>
    <div class='deco_1 deco-visit svg' id='JS_move_target_1' data-speed='2' data-visit='true'>
      <%= embedded_svg 'deco_circle.svg' %>
    </div>
    <div class='deco_2 deco-visit svg' id='JS_move_target_2' data-speed='4' data-visit='true'>
      <%= embedded_svg 'deco_circle.svg' %>
    </div>
    <div class='deco_3 deco-visit svg' id='JS_move_target_3' data-speed='9' data-visit='true'>
      <%= embedded_svg 'deco_infinity-ver.svg'%>
    </div>
    <div class='deco_4 deco-visit dark' id='JS_move_target_4' data-speed='7' data-visit='true'></div>
    <div class='deco_5 deco-visit thin' id='JS_move_target_5' data-speed='8' data-visit='true'></div>
    <div class='deco_6 deco-visit thin' id='JS_move_target_6' data-speed='8' data-visit='true'></div>
    <div class='deco_7 deco-visit svg' id='JS_move_target_7' data-speed='8' data-visit='true'>
      <%= embedded_svg 'deco_half-circle.svg'%>
    </div>
    <div class='deco_8 dark' id='JS_move_target_8' data-speed='6' data-visit='true'></div>
    <div class='deco_9 thin' id='JS_move_target_9' data-speed='12' data-visit='true'></div>
    <div class='deco_10 svg' id='JS_move_target_10' data-speed='4'>
      <%= embedded_svg 'deco_infinity-hor.svg'%>
    </div>
    <div class='deco_11 dark' id='JS_move_target_11' data-speed='1' ></div>
    <div class='deco_12 dark' id='JS_move_target_12' data-speed='6' ></div>
    <div class='deco_13 thin' id='JS_move_target_13' data-speed='10' ></div>
    <div class='deco_14 dark' id='JS_move_target_14' data-speed='8'></div>
    <div class='deco_15 dark' id='JS_move_target_15' data-speed='4'></div>
    <div class='deco_16 thin' id='JS_move_target_16' data-speed='8'></div>
    <div class='deco_17 dark' id='JS_move_target_17' data-speed='9'></div>
    <div class='deco_18 deco-visit thin' id='JS_move_target_18' data-speed='3' data-visit='true'></div>
    <div class='deco_19 deco-visit thin' id='JS_move_target_19' data-speed='3' data-visit='true'></div>
    <div class='deco_20 deco-visit svg' id='JS_move_target_20' data-speed='3' data-visit='true'>
      <%= embedded_svg 'deco_half-circle.svg'%>
    </div>
    <div class='deco_21 thin' id='JS_move_target_21' data-speed='6'></div>
    <div class='deco_22 dark' id='JS_move_target_22' data-speed='6'></div>
    <div class='deco_23 dark' id='JS_move_target_23' data-speed='8'></div>
    <div class='deco_24 dark' id='JS_move_target_24' data-speed='8'></div>
    <div class='deco_25 thin' id='JS_move_target_25' data-speed='5'></div>
    <div class='deco_26 dark' id='JS_move_target_26' data-speed='6'></div>
    <div class='deco_27 dark' id='JS_move_target_27' data-speed='3'></div>
    <div class='deco_28 thin' id='JS_move_target_28' data-speed='8'></div>
    <div class='deco_29 thin' id='JS_move_target_29' data-speed='8'></div>
    <div class='deco_30 dark' id='JS_move_target_30' data-speed='8'></div>
    <div class='deco_31 dark' id='JS_move_target_31' data-speed='8'></div>
    <div class='deco_32 thin' id='JS_move_target_32' data-speed='5'></div>
    <div class='deco_33 dark' id='JS_move_target_33' data-speed='6'></div>
    <div class='deco_34 dark' id='JS_move_target_34' data-speed='3'></div>
    <div class='deco_35 thin' id='JS_move_target_35' data-speed='8'></div>
    <div class='deco_36 thin' id='JS_move_target_36' data-speed='8'></div>
    <div class='deco_37 dark' id='JS_move_target_37' data-speed='8'></div>
    <div class='deco_38 dark' id='JS_move_target_38' data-speed='8'></div>
    <div class='deco_39 thin' id='JS_move_target_39' data-speed='5'></div>
    <div class='deco_40 dark' id='JS_move_target_40' data-speed='6'></div>
    <div class='deco_41 dark' id='JS_move_target_41' data-speed='3'></div>
    <div class='deco_42 thin' id='JS_move_target_42' data-speed='8'></div>
    <div class='deco_43 thin' id='JS_move_target_43' data-speed='8'></div>
  </div>
  <%= render partial: 'shared/header' %>
  <div class='P_index__kv'>
    <picture>
      <source data-srcset='<%= image_url('index-top.webp') %>' type="image/webp" class="C_image top"/>
      <img src='<%= image_url('index-top_dummy.webp') %>' data-src='<%= image_url('index-top_alt.png') %>' alt="riittトップ画像" class="C_image top lazyload"/>
    </picture>
  </div>
  <section class='P_index__catch-copy'>
    <div class='C_common__catch'>
      <div class='A_hide'>
        <h2 class='hide-inner' id='JS_visit_0'>GIVE SHAPE TO</h2>
      </div>
      <div class='A_hide'>
        <h2 class='hide-inner' id='JS_visit_1'>OFFER INFO</h2>
      </div>
    </div>
    <div class='copy'>
      <div class='C_common__title'>
        <div class='A_hide'>
          <h1 class='hide-inner' id='JS_visit_2'>伝えたいをカタチに</h1>
        </div>
      </div>
      <div>
        <div class='A_hide'>
          <p class='hide-inner' id='JS_visit_3'>
            あなたの成果、伝わっていますか<span class='tab_after'>、</span><br class='sp_only'>
            あなたのやりたいはカタチになっていますか<br>
            毎日に追われてとりあえずのウェブサイト<span class='tab_after'>、</span><br class='sp_only'>
            とりあえずのSNSにはなっていませんか<br>
            ウェブサービスや動画コンテンツで<span class='tab_after'>、</span><br class='sp_only'>
            もっとあなたの魅力を地域へ発信すれば<br>
            あなたの伝えたいがカタチになります
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class='L_back-color'>
    <section class='L_side-space_L'>
      <div class='L_ver-space'>
        <div class='P_index__who-we-are'>
          <div class='C_common__title-line sp_only'>
            <div class='line-inner company'>
              <span class='line' id='JS_scroll_show_0' data-showHeight='true'></span>
            </div>
            <div class='A_hide'>
              <h1 class='hide-inner' id='JS_scroll_show_1' data-showHeight='true'>
                WHO WE ARE
              </h1>
            </div>
          </div>
          <div class='svg-container'>
            <div class='A_svg' id='JS_scroll_show_2' data-showHeight='true'>
              <%= embedded_svg 'icon_creative-circle.svg',class: 'circle', alt: 'riitt'%>
              <%= embedded_svg 'icon_panel-web.svg',class: 'web svg-1', alt: 'riitt'%>
              <%= embedded_svg 'icon_panel-contents.svg',class: 'contents svg-2', alt: 'riitt'%>
              <%= embedded_svg 'icon_panel-local.svg',class: 'local svg-3', alt: 'riitt'%>
            </div>
            <div class='C_common__title_Din web-text'>
              <div class='A_hide'>
                <h3 class='hide-inner' id='JS_scroll_show_3' data-showHeight='true'>
                  WEB
                </h3>
              </div>
            </div>
            <div class='C_common__title_Din contents-text'>
              <div class='A_hide'>
                <h3 class='hide-inner' id='JS_scroll_show_4' data-showHeight='true'>
                  CONTENTS
                </h3>
              </div>
            </div>
            <div class='C_common__title_Din local-text'>
              <div class='A_hide'>
                <h3 class='hide-inner' id='JS_scroll_show_5' data-showHeight='true'>
                  LOCAL
                </h3>
              </div>
            </div>
            <div class='C_common__title_Din creative-text'>
              <div class='A_hide'>
                <h3 class='hide-inner' id='JS_scroll_show_6' data-showHeight='true'>
                  CREATIVE
                </h3>
              </div>
            </div>
            <div class='C_common__title_Din fun-text'>
              <div class='A_hide'>
                <h3 class='hide-inner' id='JS_scroll_show_7' data-showHeight='true'>
                  FUN
                </h3>
              </div>
            </div>
          </div>
          <div class='text-container'>
            <div class='C_common__title-line tab_after'>
              <div class='line-inner company'>
                <span class='line' id='JS_scroll_show_8' data-showHeight='true'></span>
              </div>
              <div class='A_hide'>
                <h1 class='hide-inner' id='JS_scroll_show_9' data-showHeight='true'>
                  WHO WE ARE
                </h1>
              </div>
            </div>
            <div class='C_common__title'>
              <div class='A_hide'>
                <h2 class='hide-inner' id='JS_scroll_show_10' data-showHeight='true'>
                  Webを通して地域から未来へ
                </h2>
              </div>
            </div>
            <div class='text'>
              <div class='A_hide'>
                <p class='hide-inner' id='JS_scroll_show_11' data-showHeight='true'>
                  私たちは、ウェブ製作や動画製作、その他コンテンツを作成し、地域のことをwebを通して発信していきます。そして、そのノウハウやプログラミングスキルを地域の人や子どもに、提供し、未来のIT人材の育成に尽力しています。
                </p>
              </div>
            </div>
            <div class='button'>
              <div class='A_button-hide' id='JS_scroll_show_12' data-showHeight='true'>
                <button class='C_common__button'>
                  <p class='A_mask btn-text'>
                    <span>COMPANY INFO</span>
                    <span>
                      <%= embedded_svg 'arrow-right.svg', class: 'arrow-left A_text-mask' %>
                    </span>
                    <%= link_to '', company_path, class:'L_link' %>
                  </p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class='P_index__what-we-do'>
      <div class='C_common__title-line'>
        <div class='line-inner company'>
          <span class='line' id='JS_scroll_show_13' data-showHeight='true'></span>
        </div>
        <div class='A_hide'>
          <h1 class='hide-inner' id='JS_scroll_show_14' data-showHeight='true'>
            WHAT WE DO
          </h1>
        </div>
      </div>
      <div class='C_common__contents'>
        <div class='card left'>
          <div class='C_common__title_L left'>
            <div class='A_hide'>
              <h1 class='hide-inner' id='JS_scroll_show_15' data-showHeight='true'>
                WEB
              </h1>
            </div>
          </div>
          <div class='C_common__title_S'>
            <div class='A_hide'>
              <h2 class='hide-inner' id='JS_scroll_show_16' data-showHeight='true'>
                仕事をカタチに
              </h2>
            </div>
          </div>
          <div class='C_common__title'>
            <div class='A_hide'>
              <h3 class='hide-inner' id='JS_scroll_show_17' data-showHeight='true'>
                WEB製作
              </h3>
            </div>
          </div>
          <div class='text'>
            <div class='A_hide'>
              <p class='hide-inner' id='JS_scroll_show_18' data-showHeight='true'>
                こだわりのオリジナル製作から、豊富なテンプレートまで、あなたの予算やこだわりに、寄り添います。どうぞお気軽にご相談ください。
              </p>
            </div>
          </div>
          <div class='button'>
            <div class='A_button-hide' id='JS_scroll_show_19' data-showHeight='true'>
              <button class='C_common__button'>
                <p class='A_mask btn-text'>
                  SHOW DETAIL
                  <span>
                    <%= embedded_svg 'arrow-right.svg', class: 'arrow-left A_text-mask' %>
                  </span>
                  <%= link_to '', service_web_path, class:'L_link' %>
                </p>
              </button>
            </div>
          </div>
        </div>
        <div class='img-box A_image-hide right' id='JS_scroll_show_20' data-showHeight='false'>
          <picture>
            <source data-srcset='<%= image_url('index_web.webp') %>' type="image/webp" class="C_image adjust-top1"/>
            <img src='<%= image_url('index_web_dummy.webp') %>' data-src='<%= image_url('index_web_alt.jpg') %>' alt="webバナー" class="C_image adjust-top1 lazyload"/>
          </picture>
        </div>
      </div>
      <div class='C_common__contents'>
        <div class='card right'>
          <div class='C_common__title_L right'>
            <div class='A_hide'>
              <h1 class='hide-inner' id='JS_scroll_show_21' data-showHeight='true'>
                MEDIA
              </h1>
            </div>
          </div>
          <div class='C_common__title_S'>
            <div class='A_hide'>
              <h2 class='hide-inner' id='JS_scroll_show_22' data-showHeight='true'>
                日常をカタチに
              </h2>
            </div>
          </div>
          <div class='C_common__title'>
            <div class='A_hide'>
              <h3 class='hide-inner' id='JS_scroll_show_23' data-showHeight='true'>
                動画撮影・編集
              </h3>
            </div>
          </div>
          <div class='text'>
            <div class='A_hide'>
              <p class='hide-inner' id='JS_scroll_show_24' data-showHeight='true'>
                YouTube動画の編集業務から、こだわりの撮影まで、日常や特別な日の思い出を動画や写真に残しませんか。
              </p>
            </div>
          </div>
          <div class='button'>
            <button class='C_common__button'>
              <p class='A_mask btn-text'>
                SHOW DETAIL
                <span>
                  <%= embedded_svg 'arrow-right.svg', class: 'arrow-left A_text-mask' %>
                </span>
                <%= link_to '', service_media_path, class:'L_link' %>
              </p>
            </button>
          </div>
        </div>
        <div class='img-box A_image-hide left' id='JS_scroll_show_25' data-showHeight='false'>
          <picture>
            <source data-srcset='<%= image_url('index_media.webp') %>' type="image/webp" class="C_image"/>
            <img src='<%= image_url('index_media_dummy.webp') %>' data-src='<%= image_url('index_media_alt.jpg') %>' alt="mediaバナー" class="C_image lazyload"/>
          </picture>
        </div>
      </div>
      <div class='C_common__contents'>
        <div class='card left'>
          <div class='C_common__title_L left'>
            <div class='A_hide'>
              <h1 class='hide-inner' id='JS_scroll_show_26' data-showHeight='true'>
                PRINT
              </h1>
            </div>
          </div>
          <div class='C_common__title_S'>
            <div class='A_hide'>
              <h2 class='hide-inner' id='JS_scroll_show_27' data-showHeight='true'>
                あなたをカタチに
              </h2>
            </div>
          </div>
          <div class='C_common__title'>
            <div class='A_hide'>
              <h3 class='hide-inner' id='JS_scroll_show_28' data-showHeight='true'>
                名刺・ロゴ・チラシ製作
              </h3>
            </div>
          </div>
          <div class='text'>
            <div class='A_hide'>
              <p class='hide-inner' id='JS_scroll_show_29' data-showHeight='true'>
                あなたの会社・名前または広告用のチラシなどの製作をいたします。あなたのブランディングの向上をお手伝いします。
              </p>
            </div>
          </div>
          <div class='button'>
            <div class='A_button-hide' id='JS_scroll_show_30' data-showHeight='true'>
              <button class='C_common__button'>
                <p class='A_mask btn-text'>
                  SHOW DETAIL
                  <span>
                    <%= embedded_svg 'arrow-right.svg', class: 'arrow-left A_text-mask' %>
                  </span>
                  <%= link_to '', service_print_path, class:'L_link' %>
                </p>
              </button>
            </div>
          </div>
        </div>
        <div class='img-box A_image-hide right' id='JS_scroll_show_31' data-showHeight='false'>
          <picture>
            <source data-srcset='<%= image_url('index_print.webp') %>' type="image/webp" class="C_image"/>
            <img src='<%= image_url('index_print_dummy.webp') %>' data-src='<%= image_url('index_print_alt.jpg') %>' alt="printバナー" class="C_image lazyload"/>
          </picture>
        </div>
      </div>
      <div class='C_common__contents'>
        <div class='card right'>
          <div class='C_common__title_L right'>
            <div class='A_hide'>
              <h1 class='hide-inner' id='JS_scroll_show_32' data-showHeight='true'>
                SYSTEM
              </h1>
            </div>
          </div>
          <div class='C_common__title_S'>
            <div class='A_hide'>
              <h2 class='hide-inner' id='JS_scroll_show_33' data-showHeight='true'>
                時間をカタチに
              </h2>
            </div>
          </div>
          <div class='C_common__title'>
            <div class='A_hide'>
              <h3 class='hide-inner' id='JS_scroll_show_34' data-showHeight='true'>
                アプリ・システム開発
              </h3>
            </div>
          </div>
          <div class='text'>
            <div class='A_hide'>
              <p class='hide-inner' id='JS_scroll_show_35' data-showHeight='true'>
                社内の単純な事務作業が軽減できる、システム開発をいたします。ちょっとしたことでも、自動化できそうなことがあれば、ご相談ください。
              </p>
            </div>
          </div>
          <div class='button'>
            <div class='A_button-hide' id='JS_scroll_show_36' data-showHeight='true'>
              <button class='C_common__button'>
                <p class='A_mask btn-text'>
                  SHOW DETAIL
                  <span>
                    <%= embedded_svg 'arrow-right.svg', class: 'arrow-left A_text-mask' %>
                  </span>
                  <%= link_to '', service_system_path, class:'L_link' %>
                </p>
              </button>
            </div>
          </div>
        </div>
        <div class='img-box A_image-hide left' id='JS_scroll_show_37' data-showHeight='false'>
          <picture>
            <source data-srcset='<%= image_url('index_system.webp') %>' type="image/webp" class="C_image"/>
            <img src='<%= image_url('index_system_dummy.webp') %>' data-src='<%= image_url('index_system_alt.jpg') %>' alt="systemバナー" class="C_image lazyload"/>
          </picture>
        </div>
      </div>
    </div>
  </div>
  <section class='wrapper'>
    <div class='P_index__works'>
      <div class='C_common__title-line'>
        <div class='line-inner company'>
          <span class='line' id='JS_scroll_show_38' data-showHeight='true'></span>
        </div>
        <div class='A_hide'>
          <h1 class='hide-inner' id='JS_scroll_show_39' data-showHeight='true'>
            WORKS
          </h1>
        </div>
      </div>
      <ul class='C_common__contents-bords'>
        <%= render partial: 'shared/work' %>
      </ul>
    </div>
    <div class='P_index__connect'>
      <div class='C_common__title-line'>
        <div class='line-inner company'>
          <span class='line' id='JS_scroll_show_40' data-showHeight='true'></span>
        </div>
        <div class='A_hide'>
          <h1 class='hide-inner' id='JS_scroll_show_41' data-showHeight='true'>
            CONNECT
          </h1>
        </div>
      </div>
      <ul class='C_common__contents-bords'>
        <li class='bord A_bord-hide left' id='JS_scroll_show_42' data-showHeight='true'>
          <div class='inner-right right'>
            <picture>
              <source data-srcset='<%= image_url('connect_0.webp') %>' type="image/webp" class="C_image"/>
              <img src='<%= image_url('connect_0_dummy.webp') %>' data-src='<%= image_url('connect_0_alt.jpg') %>' alt="temple_outsideバナー" class="C_image lazyload"/>
            </picture>
          </div>
          <div class='inner-left hide-inner'>
            <div class="text-box">
              <div class='C_common__title_S'>
                <div class='A_hide'>
                  <h3 class='hide-inner' id='JS_scroll_show_43' data-showHeight='true'>
                    Program × お寺
                  </h3>
                </div>
              </div>
              <div class='C_common__title'>
                <div class='A_hide'>
                  <h2 class='hide-inner' id='JS_scroll_show_44' data-showHeight='true'>
                    ProgramClass
                  </h2>
                </div>
              </div>
              <div class='text'>
                <div class='A_hide'>
                  <p class='hide-inner' id='JS_scroll_show_45' data-showHeight='true'>
                    お寺をお借りして、不定期で地域の人や、子どもたちに、プログラミングの授業を実施しています。ご興味のある方は、お気軽にお問い合わせください。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class='bord A_bord-hide left' id='JS_scroll_show_46' data-showHeight='true'>
          <div class='inner-right right'>
            <picture>
              <source data-srcset='<%= image_url('connect_1.webp') %>' type="image/webp" class="C_image"/>
              <img src='<%= image_url('connect_1_dummy.webp') %>' data-src='<%= image_url('connect_1_alt.jpg') %>' alt="temple_insideバナー" class="C_image lazyload"/>
            </picture>
          </div>
          <div class='inner-left hide-inner'>
            <div class="text-box">
              <div class='C_common__title_S'>
                <div class='A_hide'>
                  <h3 class='hide-inner' id='JS_scroll_show_47' data-showHeight='true'>
                    Work × お寺
                  </h3>
                </div>
              </div>
              <div class='C_common__title'>
                <div class='A_hide'>
                  <h2 class='hide-inner' id='JS_scroll_show_48' data-showHeight='true'>
                    ProgramClass
                  </h2>
                </div>
              </div>
              <div class='text'>
                <div class='A_hide'>
                  <p class='hide-inner' id='JS_scroll_show_49' data-showHeight='true'>
                    お寺の本堂を、ワーキングスペースとして管理運用しています。快適な本堂にて、ゆったりとお仕事してみませんか。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class='bord A_bord-hide left' id='JS_scroll_show_50' data-showHeight='true'>
          <div class='inner-right right'>
            <picture>
              <source data-srcset='<%= image_url('connect_2.webp') %>' type="image/webp" class="C_image"/>
              <img src='<%= image_url('connect_2_dummy.webp') %>' data-src='<%= image_url('connect_2_alt.jpg') %>' alt="supportバナー" class="C_image lazyload"/>
            </picture>
          </div>
          <div class='inner-left hide-inner'>
            <div class="text-box">
              <div class='C_common__title_S'>
                <div class='A_hide'>
                  <h3 class='hide-inner' id='JS_scroll_show_51' data-showHeight='true'>
                    Suport
                  </h3>
                </div>
              </div>
              <div class='C_common__title'>
                <div class='A_hide'>
                  <h2 class='hide-inner' id='JS_scroll_show_52' data-showHeight='true'>
                    保育教諭就職支援
                  </h2>
                </div>
              </div>
              <div class='text'>
                <div class='A_hide'>
                  <p class='hide-inner' id='JS_scroll_show_53' data-showHeight='true'>
                    認定こども園　パルティ道教寺・ピアニィ道教寺を運営する七彩学舎と連携してます。保育教諭の就職支援サポートを行っています。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <%= render partial: 'shared/footer' %>
</div>
