<% content_for :title do %>
  ロゴ・ポスター製作事業｜Riitt株式会社｜コンテンツクリエイター
<% end %>
<div class="C_back-page">
  <div class='C_back-deco company'>
    <div class='tab_after'>
      <div class='deco_0 deco-visit dark' id='JS_move_target_0' data-speed='6' data-visit='true'></div>
      <div class='deco_1 deco-visit svg' id='JS_move_target_1' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_2 deco-visit svg' id='JS_move_target_2' data-speed='7' data-visit='true'>
        <%= embedded_svg 'deco_infinity-ver.svg'%>
      </div>
      <div class='deco_3 deco-visit deco-visit svg' id='JS_move_target_3' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_4 deco-visit thin' id='JS_move_target_4' data-speed='6' data-visit='true'></div>
      <div class='deco_5 deco-visit thin' id='JS_move_target_5' data-speed='8' data-visit='true'></div>
      <div class='deco_6 deco-visit dark' id='JS_move_target_6' data-speed='5' data-visit='true' ></div>
      <div class='deco_7 deco-visit dark' id='JS_move_target_7' data-speed='5' data-visit='true' ></div>
      <div class='deco_8 deco-visit dark' id='JS_move_target_8' data-speed='8' data-visit='true' ></div>
      <div class='deco_9 deco-visit thin' id='JS_move_target_9' data-speed='4' data-visit='true'></div>
      <div class='deco_10 deco-visit svg' id='JS_move_target_10' data-speed='3'>
        <%= embedded_svg 'deco_infinity-hor.svg'%>
      </div>
      <div class='deco_11 deco-visit dark' id='JS_move_target_11' data-speed='4' data-visit='true'></div>
      <div class='deco_12 deco-visit dark' id='JS_move_target_12' data-speed='4' data-visit='true'></div>
      <div class='deco_13 deco-visit svg' id='JS_move_target_13' data-speed='3' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_14 deco-visit thin' id='JS_move_target_14' data-speed='8' data-visit='true'></div>
      <div class='deco_15 deco-visit thin' id='JS_move_target_15' data-speed='6' data-visit='true'></div>
      <div class='deco_16 deco-visit thin' id='JS_move_target_16' data-speed='3' data-visit='true'></div>
      <div class='deco_17 dark' id='JS_move_target_17' data-speed='3' ></div>
      <div class='deco_18 dark' id='JS_move_target_18' data-speed='3' ></div>
      <div class='deco_19 dark' id='JS_move_target_19' data-speed='7' ></div>
      <div class='deco_20 dark' id='JS_move_target_20' data-speed='8' ></div>
      <div class='deco_21 dark' id='JS_move_target_21' data-speed='3' ></div>
      <div class='deco_22 thin' id='JS_move_target_22' data-speed='6' ></div>
      <div class='deco_23 thin' id='JS_move_target_23' data-speed='8' ></div>
      <div class='deco_24 thin' id='JS_move_target_24' data-speed='6' ></div>
      <div class='deco_25 thin' id='JS_move_target_25' data-speed='5' ></div>
      <div class='deco_26 thin' id='JS_move_target_26' data-speed='3' ></div>
      <div class='deco_27 thin' id='JS_move_target_27' data-speed='8' ></div>
      <div class='deco_28 dark' id='JS_move_target_28' data-speed='7' ></div>
      <div class='deco_29 thin' id='JS_move_target_29' data-speed='8' ></div>
      <div class='deco_30 dark' id='JS_move_target_30' data-speed='4' ></div>
      <div class='deco_31 thin' id='JS_move_target_31' data-speed='3' ></div>
      <div class='deco_32 thin' id='JS_move_target_32' data-speed='7' ></div>
      <div class='deco_33 thin' id='JS_move_target_33' data-speed='7' ></div>
    </div>
    <div class='sp_only'>
      <div class='deco_34 thin' id='JS_move_target_34' data-speed='6' ></div>
      <div class='deco_35 deco-visit svg' id='JS_move_target_35' data-speed='7' data-visit='true'>
        <%= embedded_svg 'deco_infinity-ver.svg'%>
      </div>
      <div class='deco_36 deco-visit deco-visit svg' id='JS_move_target_36' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_37 deco-visit dark' id='JS_move_target_37' data-speed='5' data-visit='true' ></div>
      <div class='deco_38 deco-visit thin' id='JS_move_target_38' data-speed='4' data-visit='true'></div>
      <div class='deco_39 deco-visit deco-visit svg' id='JS_move_target_39' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_40 deco-visit thin' id='JS_move_target_40' data-speed='8' data-visit='true'></div>
      <div class='deco_41 deco-visit thin' id='JS_move_target_41' data-speed='8' data-visit='true'></div>
      <div class='deco_42 deco-visit thin' id='JS_move_target_42' data-speed='4' data-visit='true'></div>
      <div class='deco_43 deco-visit dark' id='JS_move_target_43' data-speed='6' data-visit='true'></div>
      <div class='deco_44 deco-visit thin' id='JS_move_target_44' data-speed='9' data-visit='true'></div>
      <div class='deco_45 deco-visit dark' id='JS_move_target_45' data-speed='9' data-visit='true'></div>
      <div class='deco_46 deco-visit thin' id='JS_move_target_46' data-speed='5' data-visit='true'></div>
      <div class='deco_47 deco-visit thin' id='JS_move_target_47' data-speed='8' data-visit='true'></div>
      <div class='deco_48 deco-visit thin' id='JS_move_target_48' data-speed='8' data-visit='true'></div>
      <div class='deco_49 deco-visit dark' id='JS_move_target_49' data-speed='4' data-visit='true'></div>
      <div class='deco_50 deco-visit dark' id='JS_move_target_50' data-speed='2' data-visit='true'></div>
      <div class='deco_51 deco-visit thin' id='JS_move_target_51' data-speed='8' data-visit='true'></div>
      <div class='deco_52 deco-visit thin' id='JS_move_target_52' data-speed='9' data-visit='true'></div>
      <div class='deco_53 deco-visit dark' id='JS_move_target_53' data-speed='8' data-visit='true'></div>
      <div class='deco_54 deco-visit dark' id='JS_move_target_54' data-speed='8' data-visit='true'></div>
      <div class='deco_55 deco-visit thin' id='JS_move_target_55' data-speed='5' data-visit='true'></div>
      <div class='deco_56 deco-visit dark' id='JS_move_target_56' data-speed='7' data-visit='true'></div>
      <div class='deco_57 deco-visit thin' id='JS_move_target_57' data-speed='3' data-visit='true'></div>
      <div class='deco_58 deco-visit thin' id='JS_move_target_58' data-speed='2' data-visit='true'></div>
      <div class='deco_59 deco-visit thin' id='JS_move_target_59' data-speed='6' data-visit='true'></div>
      <div class='deco_60 deco-visit dark' id='JS_move_target_60' data-speed='7' data-visit='true'></div>
      <div class='deco_61 deco-visit dark' id='JS_move_target_61' data-speed='7' data-visit='true'></div>
    </div>
  </div>
  <%= render partial: 'shared/header' %>
    <div class='P_service print'>
      <span class='back-ground print'></span>
      <div class='wrapper'>
        <%= render partial: 'shared/service-nav' %>
        <div class='body'>
          <div class='intro'>
            <div class='title A_hide'>
              <h3 class='hide-inner' id='JS_visit_0'>PRINT</h3>
            </div>
            <div class='statement'>
              <div class='copy A_hide'>
                <p class='hide-inner' id='JS_visit_1'>
                  印刷物デザイン
                </p>
              </div>
              <div class='text A_hide'>
                <p class='hide-inner' id='JS_visit_2'>
                  ロゴやチラシ、ポスターなどのデザインを承ります。お気軽にお問い合わせください。
                </p>
              </div>
            </div>
            <div class='A_hide img-position'>
              <div class='hide-inner img' id='JS_visit_3'>
              </div>
            </div>
          </div>
          <div class='type'>
            <div class='C_common__title-line'>
              <div class='line-inner'>
                <span class='line' id='JS_scroll_show_0'></span>
              </div>
              <div class='A_hide'>
                <h1 class='hide-inner' id='JS_scroll_show_1'>
                  WHAT WE DO
                </h1>
              </div>
            </div>
            <div class='C_common__contents'>
              <div class='card left'>
                <div class='C_common__title_L left'>
                  <div class='A_hide'>
                    <h1 class='hide-inner' id='JS_scroll_show_2'>
                      CARD<span class='tab_after'> LOGO</span>
                    </h1>
                  </div>
                </div>
                <div class='C_common__title_S'>
                  <div class='A_hide'>
                    <h2 class='hide-inner' id='JS_scroll_show_3'>
                      あなたをカタチに
                    </h2>
                  </div>
                </div>
                <div class='C_common__title'>
                  <div class='A_hide'>
                    <h3 class='hide-inner' id='JS_scroll_show_4'>
                      名刺・ロゴ製作
                    </h3>
                  </div>
                </div>
                <div class='text'>
                  <div class='A_hide'>
                    <p class='hide-inner' id='JS_scroll_show_5'>
                      あなたの会社の名刺や、パーソナルカードを作成します。会社の印象や、理念などにそったロゴや名刺を製作いたします。
                    </p>
                  </div>
                </div>
              </div>
              <div class='img-box A_image-hide right' id='JS_scroll_show_6'>
                <picture>
                  <source data-srcset='<%= image_url('service/web.webp') %>' type="image/webp" class="C_image adjust-top1"/>
                  <img src='<%= image_url('service/web_dummy.webp') %>' data-src='<%= image_url('service/web_alt.jpg') %>' alt="webバナー" class="C_image adjust-top1 lazyload"/>
                </picture>
              </div>
            </div>
            <div class='C_common__contents'>
              <div class='card right'>
                <div class='C_common__title_L right'>
                  <div class='A_hide'>
                    <h1 class='hide-inner' id='JS_scroll_show_7'>
                      POSTER
                    </h1>
                  </div>
                </div>
                <div class='C_common__title_S'>
                  <div class='A_hide'>
                    <h2 class='hide-inner' id='JS_scroll_show_8'>
                      伝えるをカタチに
                    </h2>
                  </div>
                </div>
                <div class='C_common__title'>
                  <div class='A_hide'>
                    <h3 class='hide-inner' id='JS_scroll_show_9'>
                      ポスター製作
                    </h3>
                  </div>
                </div>
                <div class='text'>
                  <div class='A_hide'>
                    <p class='hide-inner' id='JS_scroll_show_10'>
                      ポスターやチラシのデザインを承ります。まずはご相談いただければ、簡単なデザイン案を製作しますので、それをご確認してから発注いただけます。
                    </p>
                  </div>
                </div>
              </div>
              <div class='img-box A_image-hide left' id='JS_scroll_show_11'>
                <picture>
                  <source data-srcset='<%= image_url('service/web.webp') %>' type="image/webp" class="C_image adjust-top1"/>
                  <img src='<%= image_url('service/web_dummy.webp') %>' data-src='<%= image_url('service/web_alt.jpg') %>' alt="webバナー" class="C_image adjust-top1 lazyload"/>
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%= render partial: 'shared/footer' %>
</div>
