<% content_for :title do %>
  WEB製作事業｜Riitt株式会社｜コンテンツクリエイター
<% end %>
<div class="C_back-page">
  <div class='C_back-deco company'>
    <div class='tab_after'>
      <div class='deco_0 deco-visit dark' id='JS_move_target_0' data-speed='6' data-visit='true'></div>
      <div class='deco_1 deco-visit svg' id='JS_move_target_1' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_2 deco-visit svg' id='JS_move_target_2' data-speed='7' data-visit='true'>
        <%= embedded_svg 'deco_infinity-ver.svg'%>
      </div>
      <div class='deco_3 deco-visit deco-visit svg' id='JS_move_target_3' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_4 deco-visit thin' id='JS_move_target_4' data-speed='6' data-visit='true'></div>
      <div class='deco_5 deco-visit thin' id='JS_move_target_5' data-speed='8' data-visit='true'></div>
      <div class='deco_6 deco-visit dark' id='JS_move_target_6' data-speed='5' data-visit='true' ></div>
      <div class='deco_7 deco-visit dark' id='JS_move_target_7' data-speed='5' data-visit='true' ></div>
      <div class='deco_8 deco-visit dark' id='JS_move_target_8' data-speed='8' data-visit='true' ></div>
      <div class='deco_9 deco-visit thin' id='JS_move_target_9' data-speed='4' data-visit='true'></div>
      <div class='deco_10 deco-visit svg' id='JS_move_target_10' data-speed='3'>
        <%= embedded_svg 'deco_infinity-hor.svg'%>
      </div>
      <div class='deco_11 deco-visit dark' id='JS_move_target_11' data-speed='4' data-visit='true'></div>
      <div class='deco_12 deco-visit dark' id='JS_move_target_12' data-speed='4' data-visit='true'></div>
      <div class='deco_13 deco-visit svg' id='JS_move_target_13' data-speed='3' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_14 deco-visit thin' id='JS_move_target_14' data-speed='8' data-visit='true'></div>
      <div class='deco_15 deco-visit thin' id='JS_move_target_15' data-speed='6' data-visit='true'></div>
      <div class='deco_16 deco-visit thin' id='JS_move_target_16' data-speed='3' data-visit='true'></div>
      <div class='deco_17 dark' id='JS_move_target_17' data-speed='3' ></div>
      <div class='deco_18 dark' id='JS_move_target_18' data-speed='3' ></div>
      <div class='deco_19 dark' id='JS_move_target_19' data-speed='7' ></div>
      <div class='deco_20 dark' id='JS_move_target_20' data-speed='8' ></div>
      <div class='deco_21 dark' id='JS_move_target_21' data-speed='3' ></div>
      <div class='deco_22 thin' id='JS_move_target_22' data-speed='6' ></div>
      <div class='deco_23 thin' id='JS_move_target_23' data-speed='8' ></div>
      <div class='deco_24 thin' id='JS_move_target_24' data-speed='6' ></div>
      <div class='deco_25 thin' id='JS_move_target_25' data-speed='5' ></div>
      <div class='deco_26 thin' id='JS_move_target_26' data-speed='3' ></div>
      <div class='deco_27 thin' id='JS_move_target_27' data-speed='8' ></div>
      <div class='deco_28 dark' id='JS_move_target_28' data-speed='7' ></div>
      <div class='deco_29 thin' id='JS_move_target_29' data-speed='8' ></div>
      <div class='deco_30 dark' id='JS_move_target_30' data-speed='4' ></div>
      <div class='deco_31 thin' id='JS_move_target_31' data-speed='3' ></div>
      <div class='deco_32 thin' id='JS_move_target_32' data-speed='7' ></div>
      <div class='deco_33 thin' id='JS_move_target_33' data-speed='7' ></div>
    </div>
    <div class='sp_only'>
      <div class='deco_34 thin' id='JS_move_target_34' data-speed='6' ></div>
      <div class='deco_35 deco-visit svg' id='JS_move_target_35' data-speed='7' data-visit='true'>
        <%= embedded_svg 'deco_infinity-ver.svg'%>
      </div>
      <div class='deco_36 deco-visit deco-visit svg' id='JS_move_target_36' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_37 deco-visit dark' id='JS_move_target_37' data-speed='5' data-visit='true' ></div>
      <div class='deco_38 deco-visit thin' id='JS_move_target_38' data-speed='4' data-visit='true'></div>
      <div class='deco_39 deco-visit deco-visit svg' id='JS_move_target_39' data-speed='4' data-visit='true'>
        <%= embedded_svg 'deco_circle.svg' %>
      </div>
      <div class='deco_40 deco-visit thin' id='JS_move_target_40' data-speed='8' data-visit='true'></div>
      <div class='deco_41 deco-visit thin' id='JS_move_target_41' data-speed='8' data-visit='true'></div>
      <div class='deco_42 deco-visit thin' id='JS_move_target_42' data-speed='4' data-visit='true'></div>
      <div class='deco_43 deco-visit dark' id='JS_move_target_43' data-speed='6' data-visit='true'></div>
      <div class='deco_44 deco-visit thin' id='JS_move_target_44' data-speed='9' data-visit='true'></div>
      <div class='deco_45 deco-visit dark' id='JS_move_target_45' data-speed='9' data-visit='true'></div>
      <div class='deco_46 deco-visit thin' id='JS_move_target_46' data-speed='5' data-visit='true'></div>
      <div class='deco_47 deco-visit thin' id='JS_move_target_47' data-speed='8' data-visit='true'></div>
      <div class='deco_48 deco-visit thin' id='JS_move_target_48' data-speed='8' data-visit='true'></div>
      <div class='deco_49 deco-visit dark' id='JS_move_target_49' data-speed='4' data-visit='true'></div>
      <div class='deco_50 deco-visit dark' id='JS_move_target_50' data-speed='2' data-visit='true'></div>
      <div class='deco_51 deco-visit thin' id='JS_move_target_51' data-speed='8' data-visit='true'></div>
      <div class='deco_52 deco-visit thin' id='JS_move_target_52' data-speed='9' data-visit='true'></div>
      <div class='deco_53 deco-visit dark' id='JS_move_target_53' data-speed='8' data-visit='true'></div>
      <div class='deco_54 deco-visit dark' id='JS_move_target_54' data-speed='8' data-visit='true'></div>
      <div class='deco_55 deco-visit thin' id='JS_move_target_55' data-speed='5' data-visit='true'></div>
      <div class='deco_56 deco-visit dark' id='JS_move_target_56' data-speed='7' data-visit='true'></div>
      <div class='deco_57 deco-visit thin' id='JS_move_target_57' data-speed='3' data-visit='true'></div>
      <div class='deco_58 deco-visit thin' id='JS_move_target_58' data-speed='2' data-visit='true'></div>
      <div class='deco_59 deco-visit thin' id='JS_move_target_59' data-speed='6' data-visit='true'></div>
      <div class='deco_60 deco-visit dark' id='JS_move_target_60' data-speed='7' data-visit='true'></div>
      <div class='deco_61 deco-visit dark' id='JS_move_target_61' data-speed='7' data-visit='true'></div>
    </div>
  </div>
  <%= render partial: 'shared/header' %>
    <div class='P_service web'>
      <span class='back-ground'></span>
      <div class='wrapper'>
        <%= render partial: 'shared/service-nav' %>
        <div class='body'>
          <div class='intro'>
            <div class='title A_hide'>
              <h3 class='hide-inner' id='JS_visit_0'>WEB</h3>
            </div>
            <div class='statement'>
              <div class='copy A_hide'>
                <p class='hide-inner' id='JS_visit_1'>
                  ウェブサイト製作
                </p>
              </div>
              <div class='text A_hide'>
                <p class='hide-inner' id='JS_visit_2'>
                  あなたのオリジナルのウェブサイトを製作します。あなたの会社や店舗のコンセプトや理念などを伺いながら、一緒に進めていくことができます。
                </p>
              </div>
            </div>
            <div class='A_hide img-position'>
              <div class='hide-inner img' id='JS_visit_3'>
              </div>
            </div>
          </div>
          <div class='feature'>
            <div class='head'>
              <div class='C_common__title-line'>
                <div class='line-inner'>
                  <span class='line' id='JS_scroll_show_0'></span>
                </div>
                <div class='A_hide'>
                  <h2 class='hide-inner' id='JS_scroll_show_1'>
                    Be close to your feelings
                  </h2>
                </div>
              </div>
              <div class='statement'>
                <div class='copy A_hide'>
                  <p class='hide-inner' id='JS_scroll_show_2'>
                    あなたの想いに寄り添って
                  </p>
                </div>
                <div class='text A_hide'>
                  <p class='hide-inner' id='JS_scroll_show_3'>
                    あなたのオリジナルのウェブサイトを製作します。あなたの会社や店舗のコンセプトや理念などを伺いながら、一緒に進めていくことができます。
                  </p>
                </div>
              </div>
            </div>
            <div class='img-pic A_hide'>
              <div class='hide-inner' id='JS_scroll_show_4'>
                <%= embedded_svg 'icon_talking.svg', alt: 'talk'%>
              </div>
            </div>
          </div>
          <div class='flow'>
            <div class='C_common__title-line'>
              <div class='line-inner'>
                <span class='line' id='JS_scroll_show_5'></span>
              </div>
              <div class='A_hide'>
                <h2 class='hide-inner' id='JS_scroll_show_6'>
                  製作のながれ
                </h2>
              </div>
            </div>
            <ul class='body'>
              <div class='A_hide'>
                <li class='hide-inner' id='JS_scroll_show_7'>
                  <dl class='item first'>
                    <dt class='title'>打ち合わせ</dt>
                    <dt class='content'>
                      会社の概要や理念、作りたいホームページのイメージなどをすり合わせし、コンセプトやトーン、マナーを決めて行きます。 
                    </dt>
                  </dl>
                </li>
              </div>
              <div class='A_hide'>
                <li class='hide-inner' id='JS_scroll_show_8'>
                  <dl class='item'>
                    <dt class='title'>デザイン案の作成</dt>
                    <dt class='content'>
                      デザイン案と見積もりをご確認いただき、採用された場合に初めて、発注となります。デザイン案が採用されるまでは、ご費用が発生することはありません。
                    </dt>
                  </dl>
                </li>
              </div>
              <div class='A_hide'>
                <li class='hide-inner' id='JS_scroll_show_9'>
                  <dl class='item'>
                    <dt class='title'>発注</dt>
                    <dt class='content'>
                      デザイン案と見積もりをご確認いただき、採用された場合に初めて、発注となります。デザイン案が採用されるまでは、ご費用が発生することはありません。
                    </dt>
                  </dl>
                </li>
              </div>
              <div class='A_hide'>
                <li class='hide-inner' id='JS_scroll_show_10'>
                  <dl class='item'>
                    <dt class='title'>製作</dt>
                    <dt class='content'>
                      採用されたデザイン案をもとにホームページを製作していきます。その間、テストページを作成しますので、製作過程で修正点などありましたら、ご気軽に修正しながら、一緒に進めていけます。
                    </dt>
                  </dl>
                </li>
              </div>
              <div class='A_hide'>
                <li class='hide-inner' id='JS_scroll_show_11'>
                  <dl class='item'>
                    <dt class='title'>納品</dt>
                    <dt class='content'>
                      テストページで全てのコンテンツをご確認いただき、問題がないようでしたら、ホームページを公開して納品となります。
                    </dt>
                  </dl>
                </li>
              </div>
            </ul>
          </div>
          <div class='works'>
            <div class='C_common__title-line'>
              <div class='line-inner'>
                <span class='line' id='JS_scroll_show_12'></span>
              </div>
              <div class='A_hide'>
                <h1 class='hide-inner' id='JS_scroll_show_13'>
                  WORKS
                </h1>
              </div>
            </div>
            <ul class='C_common__contents-bords'>
              <li class='bord A_bord-hide left' id='JS_scroll_show_14'>
                  <div class='inner-left hide-inner'>
                  <div class="text-box">
                    <div class='C_common__title_S'>
                      <div class='A_hide'>
                        <h3 class='hide-inner' id='JS_scroll_show_15'>
                          Web Site
                        </h3>
                      </div>
                    </div>
                    <div class='C_common__title'>
                      <div class='A_hide'>
                        <h2 class='hide-inner' id='JS_scroll_show_16'>
                          社会福祉法人 七彩学舎
                        </h2>
                      </div>
                    </div>
                    <div class='text'>
                      <div class='A_hide'>
                        <p class='hide-inner' id='JS_scroll_show_17'>
                          認定こども園、パルティ道教寺・ピアニィ道教寺を運営する社会福祉法人の「好きが見つかる、未来を育む」というコンセプトのもと法人が目指すビジョンを発信できるように製作いたしました。
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class='button-box'>
                    <%= link_to '' do %>
                      <button class='button A_mask'>
                          <p class='text' data-text='SHOW'>SHOW</p>
                          <%= embedded_svg 'arrow-right.svg', class: 'arrow-left' %>
                      </button>
                    <% end %>
                  </div>
                </div>
                <div class='inner-right right'>
                  <picture>
                    <source data-srcset='<%= image_url('works/nanairo.webp') %>' type="image/webp" class="C_image"/>
                    <img src='<%= image_url('works/nanairo_dummy.webp') %>' data-src='<%= image_url('works/nanairo_alt.jpg') %>' alt="nanairoバナー" class="C_image lazyload"/>
                  </picture>
                </div>
              </li>
              <li class='bord A_bord-hide left' id='JS_scroll_show_18'>
                  <div class='inner-left hide-inner'>
                  <div class="text-box">
                    <div class='C_common__title_S'>
                      <div class='A_hide'>
                        <h3 class='hide-inner' id='JS_scroll_show_19'>
                          Web Site
                        </h3>
                      </div>
                    </div>
                    <div class='C_common__title'>
                      <div class='A_hide'>
                        <h2 class='hide-inner' id='JS_scroll_show_20'>
                          認定こども園　パルティ道教寺
                        </h2>
                      </div>
                    </div>
                    <div class='text'>
                      <div class='A_hide'>
                        <p class='hide-inner' id='JS_scroll_show_21'>
                          認定こども園パルティ道教寺のホームページを製作いたしました。子どもの明るく楽しい未来がイメージしやすいように、製作いたしました。
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class='button-box'>
                    <%= link_to '' do %>
                      <button class='button A_mask'>
                          <p class='text' data-text='SHOW'>SHOW</p>
                          <%= embedded_svg 'arrow-right.svg', class: 'arrow-left' %>
                      </button>
                    <% end %>
                  </div>
                </div>
                <div class='inner-right right'>
                  <picture>
                    <source data-srcset='<%= image_url('works/nanairo.webp') %>' type="image/webp" class="C_image"/>
                    <img src='<%= image_url('works/nanairo_dummy.webp') %>' data-src='<%= image_url('works/nanairo_alt.jpg') %>' alt="nanairoバナー" class="C_image lazyload"/>
                  </picture>
                </div>
              </li>
              <li class='bord A_bord-hide left' id='JS_scroll_show_22'>
                  <div class='inner-left hide-inner'>
                  <div class="text-box">
                    <div class='C_common__title_S'>
                      <div class='A_hide'>
                        <h3 class='hide-inner' id='JS_scroll_show_23'>
                          Web Site
                        </h3>
                      </div>
                    </div>
                    <div class='C_common__title'>
                      <div class='A_hide'>
                        <h2 class='hide-inner' id='JS_scroll_show_24'>
                          認定こども園　ピアニィ道教寺
                        </h2>
                      </div>
                    </div>
                    <div class='text'>
                      <div class='A_hide'>
                        <p class='hide-inner' id='JS_scroll_show_25'>
                          認定こども園ピアニィ道教寺のホームページを製作いたしました。子どもの明るく楽しい未来がイメージしやすいように、製作いたしました。
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class='button-box'>
                    <%= link_to '' do %>
                      <button class='button A_mask'>
                          <p class='text' data-text='SHOW'>SHOW</p>
                          <%= embedded_svg 'arrow-right.svg', class: 'arrow-left' %>
                      </button>
                    <% end %>
                  </div>
                </div>
                <div class='inner-right right'>
                  <picture>
                    <source data-srcset='<%= image_url('works/nanairo.webp') %>' type="image/webp" class="C_image"/>
                    <img src='<%= image_url('works/nanairo_dummy.webp') %>' data-src='<%= image_url('works/nanairo_alt.jpg') %>' alt="nanairoバナー" class="C_image lazyload"/>
                  </picture>
                </div>
              </li>
              <li class='bord A_bord-hide left' id='JS_scroll_show_26'>
                  <div class='inner-left hide-inner'>
                  <div class="text-box">
                    <div class='C_common__title_S'>
                      <div class='A_hide'>
                        <h3 class='hide-inner' id='JS_scroll_show_27'>
                          Web Site
                        </h3>
                      </div>
                    </div>
                    <div class='C_common__title'>
                      <div class='A_hide'>
                        <h2 class='hide-inner' id='JS_scroll_show_28'>
                          宗教法人 道教寺
                        </h2>
                      </div>
                    </div>
                    <div class='text'>
                      <div class='A_hide'>
                        <p class='hide-inner' id='JS_scroll_show_29'>
                          お寺のイメージを踏襲しながら、開かれた親しみやすいお寺をイメージしながら、製作しました。
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class='button-box'>
                    <%= link_to '' do %>
                      <button class='button A_mask'>
                          <p class='text' data-text='SHOW'>SHOW</p>
                          <%= embedded_svg 'arrow-right.svg', class: 'arrow-left' %>
                      </button>
                    <% end %>
                  </div>
                </div>
                <div class='inner-right right'>
                  <picture>
                    <source data-srcset='<%= image_url('works/dokyoji.webp') %>' type="image/webp" class="C_image"/>
                    <img src='<%= image_url('works/dokyoji_dummy.webp') %>' data-src='<%= image_url('works/dokyoji_alt.jpg') %>' alt="dokyojiバナー" class="C_image lazyload"/>
                  </picture>
                </div>
              </li>
            </ul>
            <div class="more-works">
              <div class='A_hide'>
                <h3 class='hide-inner' id='JS_scroll_show_30'>
                  <p class="text">
                    WEB実績
                  </p>
                </h3>
              </div>
              <div class='button'>
                <div class='A_button-hide' id='JS_scroll_show_31'>
                  <button class='C_common__button'>
                    <p class='A_mask btn-text'>
                      <%= link_to works_path do %>
                        MORE WORKS
                      <% end %>
                    </p>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%= render partial: 'shared/footer' %>
</div>
