<!DOCTYPE html>
<html>
  <head>
  <title><%= content_for?(:title) ? yield(:title) : "Riitt株式会社 – WEB開発・動画撮影・ロゴ・ポスター製作で、思いつきをカタチに。"%></title>
    
    <meta name="keywords" content="IT,ホームページ,Web製作,貝塚市,大阪府,関西,動画編集,HP">
    <title>Riitt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta nam>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body id='JS_page'>
    <div class="A_start" id='JS_start'>
      <div id='JS_start_logo' class='logo'>
        <%= embedded_svg 'logo.svg', alt: 'riitt'%>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
